@import url(https://fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro);

/* Global Variables */

$star-blue: #0164e0;
$main-font: "Source Sans Pro", sans;

/* General Mixins */

@mixin clear {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
}

@mixin stretch {
  height: 100%;
  width: 100%;
}

/* Responsive Mixins */

@mixin bigScreen() {
  @media screen
  and (min-aspect-ratio: 13/8) {
    @content
  }
}

@mixin portrait() {
  @media only screen
  and (orientation: portrait) {
    @content
  }
}

@mixin md_portrait() {
  @media only screen
  and (min-width: 420px)
  and (max-width: 780px)
  and (orientation: portrait) {
    @content
  }
}

@mixin lg_portrait() {
  @media only screen
  and (min-width: 780px)
  and (orientation: portrait) {
    @content
  }
}

@mixin landscape() {
  @media only screen
  and (orientation: landscape) {
    @content
  }
}

@mixin md_landscape() {
  @media screen
  and (min-width: 750px)
  and (max-width: 1080px)
  and (orientation: landscape) {
    @content
  }
}

@mixin lg_landscape() {
  @media screen
  and (min-width: 1080px)
  and (max-width: 1500px)
  and (orientation: landscape) {
    @content
  }
}

@mixin wideScreen() {
  @media screen
  and (min-aspect-ratio: 4/2) {
    @content;
  }
}

@mixin md_wideScreen() {
  @media screen
  and (min-width: 750px)
  and (max-width: 1080px)
  and (min-aspect-ratio: 4/2) {
    @content
  }
}

@mixin lg_wideScreen() {
  @media screen
  and (min-width: 1080px)
  and (min-aspect-ratio: 4/2) {
    @content
  }
}

@mixin xl {
  @media screen
  and (min-width: 1500px)
  and (orientation: landscape) {
    @content
  }
}


/* Responsive Resources */

@mixin backgroundImage($screen) {
  &.#{$screen} {
    background-image: url('/img/bg/sm/portrait/' + $screen + '.jpg');
    @include landscape { background-image: url('/img/bg/sm/landscape/' + $screen + '.jpg'); }
    @include md_portrait { background-image: url('/img/bg/md/portrait/' + $screen + '.jpg'); }
    @include md_landscape { background-image: url('/img/bg/md/landscape/' + $screen + '.jpg'); }
    @include lg_portrait { background-image: url('/img/bg/lg/portrait/' + $screen + '.jpg'); }
    @include lg_landscape { background-image: url('/img/bg/lg/landscape/' + $screen + '.jpg'); }
    @include xl { background-image: url('/img/bg/xl/landscape/' + $screen + '.jpg'); }
    @include bigScreen { background-position-y: 50%; }
  }
}

@mixin titleImagePortrait($screen, $width: 75%, $top: 7%, $left: 12.5%) {
  @include portrait {
    &.#{$screen} img:first-of-type {
      width: $width;
      margin: $top $left;
    }
  }
}

@mixin titleImageMDPortrait($screen, $width: 50%, $top: 10%, $left: 10%) {
  @include md_portrait {
    &.#{$screen} img:first-of-type {
      width: $width;
      margin: $top $left;
    }
  }
}

@mixin titleImageLGPortrait($screen, $width: 50%, $top: 10%, $left: 10%) {
  @include lg_portrait {
    &.#{$screen} img:first-of-type {
      width: $width;
      margin: $top $left;
    }
  }
}


@mixin titleImageLandscape($screen, $width: 40%, $top: 5%, $left: 10%) {
  @include landscape {
    &.#{$screen} img:first-of-type {
      width: $width;
      margin: $top $left;
    }
  }
}

@mixin titleImageMDLandscape($screen, $width: 40%, $top: 1%, $left: 10%) {
  @include md_landscape {
    &.#{$screen} img:first-of-type {
      width: $width;
      margin: $top $left;
    }
  }
}

@mixin titleImageLGLandscape($screen, $width: 30%, $top: 4%, $left: 12%) {
  @include lg_landscape {
    &.#{$screen} img:first-of-type {
      width: $width;
      margin: $top $left;
    }
  }
}

@mixin titleImageWideScreen($screen, $width: 32%, $top: 3%, $left: 8%) {
  @include wideScreen {
    &.#{$screen} img:first-of-type {
      width: $width;
      margin: $top $left;
    }
  }
}

@mixin titleImageMDWideScreen($screen, $width: 32%, $top: 1%, $left: 8%) {
  @include md_wideScreen {
    &.#{$screen} img:first-of-type {
      width: $width;
      margin: $top $left;
    }
  }
}

@mixin titleImageLGWideScreen($screen, $width: 32%, $top: 1%, $left: 8%) {
  @include lg_wideScreen {
    &.#{$screen} img:first-of-type {
      width: $width;
      margin: $top $left;
    }
  }
}

@mixin titleImageXL($screen, $width: 32%, $top: 3%, $left: 15%) {
  @include xl {
    &.#{$screen} img:first-of-type {
      width: $width;
      margin: $top $left;
    }
  }
}
