@import url(https://fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro);

$blue-a: #00a2ff;
$blue-b: #247DB1;
$blue-c: #323949;

@mixin clear {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
}

@mixin stretch {
  height: 100%;
  width: 100%;
}

html,
body,
#react-container,
div.relax-root {
  @include clear;
}

section {
  >h1 {
   display: none;
  }
  >img {
    width: 80%;
    margin: 10%;
  }
}

/* Hiding the scrollbar */

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

