@import url(https://fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro);

/* Global Variables */

$star-blue: #0164e0;
$main-font: "Source Sans Pro", sans;

/* General Mixins */

@mixin clear {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
}

@mixin stretch {
  height: 100%;
  width: 100%;
}

/* Media Query Mixins */

@mixin landscape() {
  @media only screen and (orientation : landscape) {
    @content
  }
}

@mixin iPhone4() {
  @media only screen
  and (max-height: 400px)
  and (orientation : portrait) {
    @content
  }
}

@mixin iPhone4landscape() {
  @media only screen
  and (max-width: 399px)
  and (orientation : landscape) {
      @content
  }
}

@mixin iPhone5() {
  @media only screen
  and (min-height : 450px)
  and (orientation : portrait) {
    @content
  }
}

@mixin iPhone5landscape() {
  @media only screen
  and (max-width: 460px)
  and (min-width: 400px)
  and (orientation : landscape) {
    @content
  }
}

/* Main Page Setup : iPhone 4 vertical is the default */

html,
body,
#react-container,
div.home-page,
div.relax-root {
  @include clear;
}

body {
  font-family: $main-font;
  font-size: 75%;
  @include iPhone4landscape { font-size: 50%; }
  @include iPhone5landscape { font-size: 65%; }
}

/* Hiding the scrollbar */

html {
  overflow: -moz-scrollbars-none;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.fadeIn {
  animation: fadeOverlayOut 1s forwards;
}

@keyframes fadeOverlayOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
