@import "global";

body #react-container section {

  overflow: hidden;
  background-position: bottom right;
  background-size: cover;

  @include backgroundImage(home);
  @include backgroundImage(react);
  @include backgroundImage(node);
  @include backgroundImage(html);
  @include backgroundImage(cd);
  @include backgroundImage(contact);

  @include titleImagePortrait(home);
  @include titleImagePortrait(react);
  @include titleImagePortrait(node);
  @include titleImagePortrait(html);
  @include titleImagePortrait(cd);
  @include titleImageMDPortrait(home, 40%, 10%, 17%);
  @include titleImageMDPortrait(react);
  @include titleImageMDPortrait(node);
  @include titleImageMDPortrait(html);
  @include titleImageMDPortrait(cd);
  @include titleImageLGPortrait(home, 30%, 5%, 16%);
  @include titleImageLGPortrait(react);
  @include titleImageLGPortrait(node);
  @include titleImageLGPortrait(html);
  @include titleImageLGPortrait(cd);

  @include titleImageLandscape(home, 50%, 1%);
  @include titleImageLandscape(react);
  @include titleImageLandscape(node);
  @include titleImageLandscape(html, 55%, 5%, 5%);
  @include titleImageLandscape(cd, 55%);

  @include titleImageWideScreen(home);
  @include titleImageWideScreen(react);
  @include titleImageWideScreen(node);
  @include titleImageWideScreen(html, 50%, 4%, 7%);
  @include titleImageWideScreen(cd, 50%, 4%, 7%);

  > div.box {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    border: .5em double $star-blue;
    border-left: none;
    border-right: none;
    overflow: hidden;
    font-size: 114%;
    width: 90%;
    top: 25%;

    ul {
      font-size: 1.3em;
    }

    h1, p, li {
      text-shadow: 1px 1px 3px black;
      padding: 0 0.25em;
    }

  }

}
