@import "global";


body #react-container section {

  overflow: hidden;

  background-position: center -140px;
  @media only screen and (orientation : landscape) {
    background-position: center -250px;
  }

  >img {
    /*width: 90%;
    margin: 5%;*/
    width: 75%;
    margin: 2% 12.5%;
  }

  >div.box {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    border: .5em double $star-blue;
    border-left: none;
    border-right: none;

    width: 90%;
    top: 25%;
    @media only screen and (orientation : landscape) {
      width: 55%;
      top: 35%;
    }

    /* font-size: 90% */
    font-size: 114%;


    overflow: hidden;

    ul {
      font-size: 1.3em;
    }

    h1, p, li {
      text-shadow: 1px 1px 3px black;
      padding: 0 0.25em;
    }

  }

  &.home {

    div.box {
      /* top: 42; */
      top: 40%;
      @media only screen and (orientation : landscape) {
        top: 50%;
      }
    }

    >img {
      position: absolute;
      /* width: 65%; */
      /* margin: 0 17.5%; */
      width: 50%;
      margin: 0 25%;
      top: 4%;
    }

  }

  &.node {
    div.box {
      border-color: rgb(6,181,137);
    }
  }

  &.html {
    div.box {
      border-color: lightgrey;
      top: 40%;
      @media only screen and (orientation : landscape) {
        top: 50%;
      }
    }
  }

  &.cd {
    div.box {
      top: 40%;
      @media only screen and (orientation : landscape) {
        top: 53%;
      }
    }
  }

  &.contact {
    div.box {
      border-color: white;
      top: 5%;
    }
  }

}
