@import "global";

div.home-page>div.social-icons {
  position: fixed;
  z-index: 1001;
  width: 100%;
  text-align: center;
  bottom: 1.5em;
  font-size: 2.5em;

  a {
    margin: 0 .1em;
    color: white;
  }

  a, svg {
    cursor: pointer;
  }
}

div.down-button {
  color: white;
  z-index: 1001;
  position: fixed;
  left: 50%;
  margin-left: -.5em;
  cursor: pointer;
  bottom: .2em;
  font-size: 3em;

  >div:first-child {
    background-color: black;
    opacity: .4;
    border-radius: .2em;
    height: 1em;
    width: 1em;
  }

  >svg {
    transform: rotate(180deg);
    position: absolute;
    top: 0;
    left: 0;
  }

}

div.whoops-404 {
  padding: 1em;
  color: white;
}
